body{
background-color:#d3cdcd;
}
.principal{
    position: absolute;
    margin: 0 auto;
}
h1{
    margin: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.velho{
margin:100px;
padding:90px;
position:absolute;
top:50px;
left: 120px;
}

.novo{
resize: none;
margin: 86px;
padding: 84px;    
position:absolute;
top:63px;
left:630px;
}  

.crip{
position:absolute;
top: 200px;
left: 610px;

}

.botao2{
position:absolute;
top: 250px;
left: 600px;
}

#copy{
position:absolute;
top: 300px;
left: 625px;
}