body{
    opacity: 0.9;
    background-color: rgb(233, 232, 232);
}
::placeholder{
    position: absolute;
    font-size: 30px;
    margin:0%;
    left: 10px;
    font-family:'Courier New', Courier, monospace;
}
.principal{
    position: absolute;
    margin: 0 auto;
}
.velho{
margin:100px;
margin-left: -2px;
padding: 100px;
padding-top: 100px;
position:absolute;
top:0px;
left: 100 px;
width: 10%;
height: 10%;
border-color:#585758;
border-radius: 20px;
font-size: 20px;
background-color: transparent;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

.novo{
resize: none;
margin: 100px;
margin-left:50px;
padding: 100px; 
padding-top: 100px;   
position:absolute;
top:0px;
left: 800px;
width: 10%;
height: 10%;
border-color: #585758;
border-radius: 20px;
font-size: 20px;
background-color:transparent;
font-family: 'Courier New', Courier, monospace;
text-align: center;

}  

.crip{
position:absolute;
top: 500px;
left: 130px;
width: 20%;
height: 10%;
color: #585758;
border-radius: 20px;
border-color: #585758;
}

.botao2{
position:absolute;
top: 500px;
left: 950px;
width: 20%;
height: 10%;
color: #585758;
border-radius: 20px;
border-color: #585758;
}

#copy{
position:absolute;
top: 500px;
left: 543px;
width: 20%;
height: 10%;
color: #585758;
border-radius: 20px;
border-color: #585758;
}